<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Servlets Tutorial</display-name>

    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>servlets.SimpleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StatusCode</servlet-name>
        <servlet-class>servlets.StatusCodeDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>servlets.ServletRequestDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseServlet</servlet-name>
        <servlet-class>servlets.ServletResponseDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassParamWithGET</servlet-name>
        <servlet-class>servlets.PassingParametersUsingGetMethodDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassParamWithPOST</servlet-name>
        <servlet-class>servlets.PassingParametersUsingPostMethodDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorDemo</servlet-name>
        <servlet-class>servlets.ErrorDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTrackingDemo</servlet-name>
        <servlet-class>servlets.SessionTrackingDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieDemo</servlet-name>
        <servlet-class>servlets.CookieDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>servlets.DatabaseDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoRefresh</servlet-name>
        <servlet-class>servlets.AutoRefreshAndDateTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>servlets.RedirectDemo</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusCode</servlet-name>
        <url-pattern>/code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/req</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseServlet</servlet-name>
        <url-pattern>/resp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassParamWithGET</servlet-name>
        <url-pattern>/passGET</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassParamWithPOST</servlet-name>
        <url-pattern>/passPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorDemo</servlet-name>
        <url-pattern>/ErrorDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTrackingDemo</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieDemo</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoRefresh</servlet-name>
        <url-pattern>/auto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>


    <error-page>
        <error-code>404</error-code>
        <location>/ErrorDemo</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Error</exception-type>
        <location>/ErrorDemo</location>
    </error-page>

    <filter>
        <filter-name>FilterDemo</filter-name>
        <filter-class>servlets.FilterDemo</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FilterDemo</filter-name>
        <url-pattern>/filter</url-pattern>
    </filter-mapping>
</web-app>
